name: Reusable workflow example

on:
  push: 
    branches: ['*']
    tags: ['*']

jobs:
  call-workflow-docker-build-push:
    uses: AlejoAsd/actions/.github/workflows/docker-build-push-github.yaml@feature/docker-build-push
